<app-sidebar [menuStatus]="appStatus.isMenuActive" (menuStatusOutput)="toggleMenu($event)"></app-sidebar>
<div id="main-container">
  <div id="main" *ngIf="exists" class="d-flex justify-content-between flex-column position-relative">
    <div>
      <app-topbar (appStatusOutput)="updateAppStatus($event)" *ngIf="!editMode"></app-topbar>
      <app-edit-topbar (appStatusOutput)="updateAppStatus($event)" [barPropertiesInput]="barProperties"
        *ngIf="editMode"></app-edit-topbar>
    </div>
    <div preventUnfocus id="tab-background" class="d-flex m-0 p-0 flex-column justify-content-between flex-grow-1">
      <div preventUnfocus class="d-flex flex-column justify-content-evenly">
        <div *ngIf="currentTab" id="instrument" class="ps-4 flex-grow-1 m-0 d-flex flex-column justify-content-center">
          <h2 id="instrument-name" class="m-0 p-0 display-2 text-nowrap">
            {{currentTab.instrument.name.toUpperCase().replace("-"," ")}}
          </h2>
        </div>
      </div>
      <div preventUnfocus *ngIf="!editMode" id="actions"
        class=" p-0 flex-grow-1 d-flex flex-column justify-content-end">
        <div class="d-flex justify-content-between align-items-center px-lg-4 py-lg-4 py-2 px-3">
          <div id="info-container" (click)="showSongInfo = !showSongInfo"
            class="d-flex justify-content-center align-items-center position-relative flex-shrink-0">
            <svg viewBox="0 0 488.9 488.9" xml:space="preserve">
              <path fill="white"
                d="M239.15,0c31.9,0,57.7,25.8,57.7,57.7s-25.8,57.7-57.7,57.7s-57.7-25.8-57.7-57.7S207.25,0,239.15,0z M291.65,151.6h-1.5
                    h-92.8h-3.4c-19,0-34.3,15.4-34.3,34.3l0,0c0,19,15.4,34.3,34.3,34.3h3.4v200h-37.7v68.7h169.6v-68.7h-37.5V151.6H291.65z" />
            </svg>
            <div id="song-info" @appear *ngIf="showSongInfo" class="p-3 rounded">
              <h5>About this song:</h5>
              <ul class="list-unstyled m-0">
                <li class="list-group-item">Initial key: <span class="text-white">GM</span></li>
                <li class="list-group-item">Avg. BPM: <span class="text-white">{{currentTab?.initialTempo}} </span></li>
                <li class="list-group-item">Tuning: <span class="text-white">Standard</span></li>
              </ul>
            </div>
          </div>
          <div id="end-btns" class="float-end">
            <div class="d-flex justify-content-between">
              <div id="edit-btn" data-bs-toggle="modal" data-bs-target="#editModal"
                class="px-2 rounded d-flex justify-content-center align-items-center">
                <svg width="30" height="30" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M27.5 5.00001L32 0.500009C32.5 0.166675 33.8 -0.299991 35 0.500009C36.2 1.30001 38.5 3.83334 39.5 5.00001C39.8333 5.50001 40.3 6.8 39.5 8L35 12.5L27.5 5.00001ZM0 40L3.5 29L25 7.5L32.5 15L11.5 36L0 40Z"
                    fill="#D6D6D6" />
                </svg>
              </div>
              <button id="comment-btn" class="px-3 py-1 mx-3">COMMENTS</button>
              <button id="rate-btn" class="px-3 py-1">RATE THIS TAB</button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="editMode" id="actions" class=" p-0 flex-grow-1 d-flex flex-column justify-content-end">
        <div class="d-flex justify-content-between align-items-center p-4">
          <div preventUnfocus id="info-container" (click)="showSongInfo = !showSongInfo"
            class="d-flex justify-content-center align-items-center position-relative flex-shrink-0">
            <svg height="23" viewBox="0 0 488.9 488.9" xml:space="preserve">
              <path fill="white"
                d="M239.15,0c31.9,0,57.7,25.8,57.7,57.7s-25.8,57.7-57.7,57.7s-57.7-25.8-57.7-57.7S207.25,0,239.15,0z M291.65,151.6h-1.5
                    h-92.8h-3.4c-19,0-34.3,15.4-34.3,34.3l0,0c0,19,15.4,34.3,34.3,34.3h3.4v200h-37.7v68.7h169.6v-68.7h-37.5V151.6H291.65z" />
            </svg>
            <div id="song-info" @appear *ngIf="showSongInfo" class="p-3 rounded">
              <h5>About this song:</h5>
              <ul class="list-unstyled m-0">
                <li class="list-group-item">Initial key: <span class="text-white">GM</span></li>
                <li class="list-group-item">Avg. BPM: <span class="text-white">110</span></li>
                <li class="list-group-item">Tuning: <span class="text-white">Standard</span></li>
              </ul>
            </div>
          </div>
          <div id="end-btns" class="float-end">
            <div class="d-none d-md-flex justify-content-between">
              <div id="menu-btn-container" class="position-relative mx-3">
                <div (click)="showMenu = !showMenu" id="menu-btn">
                  <svg width="30" height="30" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                    <path
                      d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                  </svg>
                </div>
                <div @scale *ngIf="showMenu" id="menu" class="rounded p-2">
                  <div (click)="deleteTab()"
                    class="text-nowrap p-2 d-flex justify-content-start align-items-center option rounded">
                    <div id="delete-icon" class="me-2 my-1 d-flex align-items-center">
                      <svg width="20" height="20" fill="#878787" class="bi bi-trash3" viewBox="0 0 16 16">
                        <path
                          d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                      </svg>
                    </div>
                    <h6 class="m-0">Remove this tab</h6>
                  </div>
                  <div (click)="showSelectionModal=true"
                    class="text-nowrap p-2 d-flex justify-content-start align-items-center option rounded">
                    <div id="guitar-icon" class="me-2 my-1 d-flex align-items-center">
                      <img width="20" height="20"
                        src="https://firebasestorage.googleapis.com/v0/b/tab-player.appspot.com/o/assets%2Fimages%2Fguitar.png?alt=media"
                        alt="">
                    </div>
                    <h6 class="m-0">Change instrument</h6>
                  </div>
                </div>
              </div>
              <div id="edit-btn" (click)="saveTabGroup()"
                class="px-3 py-1 me-3 d-flex justify-content-center align-items-center text-white border">
                <svg width="30" height="30" fill="white" class="bi bi-check2-circle" viewBox="0 0 16 16">
                  <path
                    d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
                  <path
                    d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
                </svg>
                <p class="my-auto mx-2" style="font-family: 'Barlow Condensed'">SAVE</p>
              </div>
              <div id="edit-btn" (click)="saveAndPostTabGroup()" style="color:#BF9C6E;border:#BF9C6E solid 1px"
                class="px-3 py-1 d-flex justify-content-center align-items-center">
                <svg width="30" height="30" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                  <path
                    d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
                  <path
                    d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
                </svg>
                <p class="my-auto mx-2" style="font-family: 'Barlow Condensed'">SAVE AND POST</p>
              </div>
            </div>
          </div>
          <div id="mobile-end-btns" class="d-flex jusstify-content-evenly d-md-none float-end">
            <div id="comment-icon" class="p-2 rounded">
              <svg width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M1.00003 4V17C0.600029 20.2 3.1667 21.3333 4.50003 21.5H7.50003V30L16 21.5H27C29.4 21.5 30.6667 19.0042 31 17.7562V4C30.6 1.2 27.8334 0.166667 26.5 0H5.00003C2.20003 0.8 1.1667 3 1.00003 4Z"
                  fill="#707070" />
              </svg>
            </div>
            <div id="rate-icon" class="p-2 rounded">
              <svg width="37" height="35" viewBox="0 0 37 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15 14.5H3.5L13 21.5L9.5 32L18.5 25.5L27.5 32L24.5 21.5L33.5 14.5H22L18.5 4L15 14.5Z"
                  stroke="#BF9C6E" stroke-width="2" />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="tab-player-container" class="p-0">
      <app-tab *ngIf="!editMode"></app-tab>
      <app-edit-tab (noteSelectedOutput)="updateNoteSelection($event)" *ngIf="editMode"></app-edit-tab>
    </div>
  </div>
  <app-not-found *ngIf="!exists"></app-not-found>
</div>
<div @appear *ngIf="showSelectionModal" id="modal-container">
  <div id="modal-dialog" class="p-5">
    <div>
      <h2 class="text-white">Select an instrument</h2>
    </div>
    <form [formGroup]="instrumentForm" action="">
      <div class="row m-0 p-0">
        <div class="col-8 p-0">
          <select class="form-select shadow-none my-4 rounded-0" name="name" id="instrument-selection"
            formControlName="name">
            <option value="guitar"> Guitar</option>
            <option value="acoustic-guitar">Acoustic guitar</option>
            <option value="bass">Bass</option>
            <option value="voice">Voice</option>
          </select>
        </div>
        <div class="col-4 p-0">
          <select class="form-select shadow-none my-4 rounded-0" name="strings" id="strings" formControlName="strings">
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
          </select>
        </div>
      </div>
      <div class="float-end">
        <button class="btn btn-light shadow-none me-3" (click)="showSelectionModal=false">CANCEL</button>
        <button id="confirm-btn" type="submit" class="btn" (click)="changeInstrument($event)">CONFIRM</button>
      </div>
    </form>
  </div>
</div>
<div class="modal fade text-white" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-0 p-2">
      <div class="modal-body  pb-0">
        Saving this tab will replace your previous tab of this song. <br> <strong>Are you sure to continue?</strong>
      </div>
      <div class="modal-footer border-0">
        <button class="btn btn-light shadow-none me-3" data-bs-dismiss="modal">CANCEL</button>
        <button id="confirm-btn" type="button" class="btn" (click)="editTabGroup()"
          data-bs-dismiss="modal">CONFIRM</button>
      </div>
    </div>
  </div>
</div>
