#canvas-container {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  cursor: initial;
  overflow-y: hidden;
}

#canvas-container::-webkit-scrollbar {
  display: none;
}

.bar {
  border-inline: #707070 1px solid;
  position: relative;
}

.instrument-strings-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.instrument-string {
  height: 2px;
  width: 100%;
  background-color: #707070;
  margin-bottom: 39.7px;
}

.segment {
  position: relative;
  height: 100%;
}

.segment:focus {
  outline: none;
}

.segment:focus::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(191, 156, 110, 0.3);
  outline: none;
  transform: scaleY(2);
  z-index: 100;
}

span,
p {
  cursor: default;
}

span {
  background-color: #202020;
  font: 500 22pt "Barlow Condensed";
  border-radius: 2px;
  line-height: 20px;
  padding: 2.5px;
  vertical-align: middle;
  text-align: center;
  position: absolute;
  z-index: 10;
  transition: 50ms;
  cursor: pointer;
  min-width: 20px;
  min-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-2.5px, -5px);
}

.slide-out {
  position: absolute;
  border-width: 2px;
  border-color: white;
  opacity: .6;
  margin: 0;
}

.slide-in {
  position: absolute;
  border-width: 2px;
  border-color: white;
  opacity: .6;
  margin: 0;
}

.rest {
  transition: 50ms;
  margin-right: 5px;
  cursor: pointer;
}

span:hover {
  background-color: rgba(51, 51, 51, 0.5) !important;
}

span:focus {
  background-color: rgba(143, 115, 78, 0.9) !important;
  outline: none;
}

.rest:focus {
  background-color: rgba(191, 156, 110, 0.3);
  outline: none;
}

.time-signature-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
}


.time-signature-container p {
  font: 500 60px "Barlow Condensed";
  margin: 0;
  line-height: 60px;
}

#add-bar-btn-container {
  min-width: 480px;
}

#add-bar-btn-container svg {
  fill: rgb(153, 153, 153);
  transition: fill 300ms;
}

#add-bar-btn-container svg:hover {
  animation: pulse 1s infinite;
  cursor: pointer;
  fill: white;
}

@keyframes pulse {
  50% {
    transform: scale(1.05);
  }
}
