<div id="canvas-container" class="d-flex align-items-center" [ngStyle]="{'height.px':tabLayout.canvasHeight}"
  #canvasContainer>
  <div id="editing-tab" class="d-flex text-white">
    <div class="bar d-flex" bar *ngFor="let bar of song.bars;let i = index" [ngStyle]="styleBar(bar,i)">
      <div class="instrument-strings-container">
        <div class="instrument-string" *ngFor="let string of [].constructor(song.instrument.strings)"></div>
      </div>
      <div class="time-signature-container" [ngStyle]="styleTimeSignature(bar,i)">
        <div *ngIf="hasTimeSignatureChanged(bar,i)">
          <p>{{bar.timeSignature.numerator}}</p>
          <p>{{bar.timeSignature.denominator}}</p>
        </div>
      </div>
      <div class="segments-container d-flex h-100">
        <div tabindex="0" class="segment" segment (focus)="detectNoteSelection(segment,bar)"
          [ngStyle]="styleSegment(segment)" *ngFor="let segment of bar.segments;let index=index">
          <div class="notes-container h-100" *ngIf="!segment.isRest">
            <span class="music-note" note tabindex="0" [ngStyle]="styleNote(note)"
              (focus)="detectNoteSelection(segment,bar,note)" *ngFor="let note of segment.notes">
              {{note.fretValue}}
              <hr class="slide-out rounded-pill"
                *ngIf="note.effects && note.effects.slides && note.effects.slides.slideOut"
                [ngStyle]="styleSlideOut(note,segment,bar)">
              <hr class="slide-in rounded-pill"
                *ngIf="note.effects && note.effects.slides && note.effects.slides.slideIn"
                [ngStyle]="styleSlideIn(note,segment)">
            </span>
          </div>
          <div class="rest-container" *ngIf="segment.isRest">
            <div note tabindex="0" class="rest" (focus)="detectNoteSelection(segment,bar)">
              <img [src]="assignRestImg(segment)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="add-bar-btn-container" class="ps-4">
    <div (click)="addBar()">
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" class="bi bi-plus-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
        <path
          d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
      </svg>
    </div>
  </div>
</div>
