#container {
  max-height: 121px;
  min-width: 0%;
  max-width: 100vw;
}

input[type="radio"],
input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
  transition: background-color 50ms;
}

label {
  transition: background-color 50ms;
}

input[type="radio"]:checked+label,
input[type="checkbox"]:checked+label {
  background-color: rgba(255, 255, 255, 0.1);
}


input[type="radio"]:hover+label,
input[type="checkbox"]:hover+label {
  background-color: rgba(255, 255, 255, 0.1);
}


#song {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#fill-div {
  width: 80px;
}

#fill-div2 {
  width: 50px;
}

#play-pause {
  width: min-content;
}

img {
  max-height: 97px;
}

#song-title {
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#artists {
  color: #d6d6d6;
  line-height: 30px;
  white-space: nowrap;
}

#play,
#pause {
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

#tempo-container {
  min-height: 68px;
}

#tools p {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  color: #707070;
  margin: 0;
  transition: color 200ms;
}

#tools path {
  fill: #707070;
  transition: fill 200ms
}

#tools .active-tool path {
  fill: #BF9C6E;
}

#tools :checked {
  color: #BF9C6E;
}

#tempo-container {
  max-width: 88px;
  min-height: 68px;
}


#tools div:not(#tempo-input-container) {
  transition: background-color 100ms;
}

#tools #tempo-container:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.15);
  transition: background-color 10ms;
}

#tempo-input-container {
  display: none;
  background-color: rgba(16, 16, 16, 0.3);
  backdrop-filter: blur(2px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  cursor: initial;
}

#tempo-container:focus #tempo-input-container,
#tempo-input-container:active {
  display: inline-block;
}

#note-duration-input-group {
  min-width: 146px;
}

#note-dot {
  max-height: 30px;
}

#slide-menu-btn button {
  color: #d6d6d6;
  border: #333533 1px solid;
  font-weight: 700;
}

.slide-figure {
  width: 45px;
}
