<div id="canvas-container" class="d-flex align-items-center py-5" #canvasContainer>
  <div *ngIf="currentTab" id="editing-tab" class="d-flex text-white my-3">
    <div class="bar d-flex" bar *ngFor="let bar of currentTab.bars;let i = index" [ngStyle]="styleBar(bar,i)">
      <div class="bar-number-container">
        <p class="m-0">{{i+1}}</p>
      </div>
      <div *ngIf="currentTab.instrument" class="instrument-strings-container">
        <div class="instrument-string" *ngFor="let string of [].constructor(currentTab.instrument.strings)"></div>
      </div>
      <div class="time-signature-container" [ngStyle]="styleTimeSignature(bar,i)">
        <div *ngIf="hasTimeSignatureChanged(bar,i)">
          <p>{{bar.timeSignature.numerator}}</p>
          <p>{{bar.timeSignature.denominator}}</p>
        </div>
      </div>
      <div class="segments-container d-flex h-100">
        <div tabindex="0" class="segment" segment (focus)="updateSelection({bar,segment})"
          [ngStyle]="styleSegment(segment)" *ngFor="let segment of bar.segments;let index=index">
          <div class="notes-container h-100" *ngIf="!segment.isRest">
            <span class="music-note" note [ngStyle]="styleNote(note)" *ngFor="let note of segment.notes">
              {{note.fretValue}}
              <hr class="slide-out rounded-pill"
                *ngIf="note.effects && note.effects.slides && note.effects.slides.slideOut"
                [ngStyle]="styleSlideOut(note,segment,bar)">
              <hr class="slide-in rounded-pill"
                *ngIf="note.effects && note.effects.slides && note.effects.slides.slideIn"
                [ngStyle]="styleSlideIn(note,segment)">
            </span>
          </div>
          <div class="rest-container" *ngIf="segment.isRest">
            <div note class="rest">
              <img [src]="assignRestImg(segment)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
