#canvas-container {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: hidden;
}

#canvas-container::-webkit-scrollbar {
  display: none;
}

.bar-number-container {
  position: absolute;
  top: -25px;
  left: 2px;
  color: #464646;
  font-family: 'Barlow Condensed';
  font-size: .75em;
}

.bar {
  border-inline: #707070 1px solid;
  position: relative;
}

.instrument-strings-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.instrument-string {
  height: 2px;
  width: 100%;
  background-color: #707070;
}

.segment {
  position: relative;
  height: 100%;
}

.segment::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.05);
  z-index: 100;
  opacity: 0;
  transform: scaleY(2);
  transition: opacity 50ms ease-in-out;
}

.segment:hover::after {
  opacity: 1;
}

span,
p {
  cursor: default;
}

span {
  background-color: #202020;
  font: 500 22pt "Barlow Condensed";
  border-radius: 2px;
  line-height: 20px;
  padding: 2.5px;
  vertical-align: middle;
  text-align: center;
  position: absolute;
  z-index: 10;
  transition: 50ms;
  min-width: 20px;
  min-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-2.5px, -5px);
}

.slide-out {
  position: absolute;
  border-width: 2px;
  border-color: white;
  opacity: .6;
  margin: 0;
}

.slide-in {
  position: absolute;
  border-width: 2px;
  border-color: white;
  opacity: .6;
  margin: 0;
}

.rest {
  transition: 50ms;
  margin-right: 5px;
}

.time-signature-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
}

.time-signature-container p {
  font: 500 60px "Barlow Condensed";
  margin: 0;
  line-height: 60px;
}

@media (max-height:620px) {
  #canvas-container {
    padding: 1.25em 0 !important;
  }

  span {
    font-size: 19pt !important;
  }

  .time-signature-container p {
    font-size: 55px;
    line-height: 55px;
  }

  .bar-number-container {
    top: -23px;
  }
}

@media (max-height:500px) {
  #canvas-container {
    padding: .5em 0 !important;
  }

  .time-signature-container p {
    font-size: 50px;
    line-height: 50px;
  }
}

@media (max-height:399px) {
  span {
    font-size: .9em !important;
    min-width: 15px;
    min-height: 21px;
  }

  .time-signature-container p {
    font-size: 40px;
    line-height: 40px;
  }
}

#line {
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  height: 120%;
  width: 3px;
  background-color: #bf9c6e;
  z-index: 100;
  will-change: transform;
}
