<div @slideIn id="search-container" class="d-flex flex-column">
  <div class="mx-3">
    <form [formGroup]="queryForm" class="pt-2">
      <input (input)="searchTracks()" class="form-control-plaintext" type="text" name="query" id="search"
        autocomplete="off" placeholder="Search by song,artist or album" formControlName="query">
    </form>
  </div>
  <div class="row m-0 pt-3" style="min-height: 0;">
    <div class="col-6 px-3 h-100 overflow-auto">
      <h5 class="m-0 pb-2">Songs</h5>
      <hr class="py-2 m-0">
      <div id="songs-container">
        <div @appear (click)="searchTabs(track.id, track.name)" *ngFor="let track of searchTracksResult"
          class="song row p-0 m-0 py-2 flex-nowrap rounded p-2">
          <div class="col-auto p-0 song-cover-art-container">
            <img class="song-cover-art img-fluid" [src]="track.album.images[2].url" [alt]="track.album.name">
          </div>
          <div class=" col my-auto pe-0 info-container" z>
            <h5 class="m-0 song-title">{{track.name}}</h5>
            <p class="m-0 artists" style="font-size: .7em;">{{track.artists[0].name}}<span
                *ngFor="let artist of track.artists.slice(1)">,
                {{artist.name}}</span>
            </p>
          </div>
        </div>
        <div @appear *ngIf=" (!searchTracksResult || searchTracksResult.length === 0) && !noTrackMatches">
          <p class="text-center text-white-50 fw-lighter m-0">Type something!</p>
        </div>
        <div @appear *ngIf="noTrackMatches">
          <p class="text-center text-white-50 fw-lighter pt-3">Didn't find a song with that name! :(</p>
        </div>
      </div>
    </div>
    <div class="col-6 px-3 h-100">
      <h5 class="m-0 p-0 pb-2">Tabs</h5>
      <hr class="py-2 m-0">
      <div id="tabs-container">
        <div @appear *ngFor="let tab of searchTabsResult;let i=index" class="tab">
          <p class="py-2 d-inline-block" (click)="loadTab(i)">
            {{selectedTrackName}}&#160;
            ({{searchTabsResult.indexOf(tab)}})</p>
          <span @appear class="py-2">by&#160;
            <span *ngIf="tab.authorDisplayName">{{tab.authorDisplayName}}</span>
            <span *ngIf="!tab.authorDisplayName">[deletedUser]</span>
          </span>
        </div>
        <div @appear *ngIf="noTabMatches" class="text-center">
          <p class="text-white-50">There are no tabs related to this song!<br>
            <span id="create-btn" (click)="createTabGroup()">Create one!</span>
          </p>
        </div>
        <div @appear *ngIf="!selectedTrackName && !noTabMatches" class="text-center">
          <p class="text-white-50 fw-lighter p-0 m-0">Select a song to display its tabs!</p>
        </div>
      </div>
    </div>
  </div>
</div>
