#search-container {
  position: fixed;
  left: 100px;
  height: 100vh;
  background-color: #202020;
  z-index: 10;
  color: #d6d6d6;
  width: min(1200px, 100vw - 200px);
}

@media (min-width:992px) {
  #search-container {
    left: max(75px, 5.2vw) !important;
  }
}

#search {
  color: #d6d6d6;
  border-bottom: #333533 solid 1px;
}

#songs-container {
  overflow: auto;
}

.img {
  width: 64px;
  height: 64px;
}

.info-container {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.song-title {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: calc(100%);
  font-weight: 700;
}

.song:hover {
  background-color: #333533;
  cursor: pointer;
}

.artists {
  color: #909090;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 400px;
}

.tab p:hover {
  text-decoration: underline;
  cursor: pointer;
  color: white;
}

.tab span {
  float: right;
  color: #909090;
  font-weight: light;
}

#create-btn {
  color: white;
}

#create-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}

.fw-lighter {
  font-size: .8em;
}

::-webkit-scrollbar-track {
  background-color: #00000000;
}

@media (max-width:991px) {
  img {
    width: 50px;
    height: 50px;
  }

  .song-title {
    font-size: .9em;
  }

  .artists {
    font-size: .8em;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
}

@media (max-width:767px) {
  img {
    width: 45px;
    height: 45px;
  }

  .song-title {
    font-size: .8em;
  }

  .artists {
    font-size: .75em;
  }

  ::-webkit-scrollbar {
    width: 3px;
  }
}
