#container {
  max-height: 121px;
  min-width: 0%;
  max-width: 100vw;
}

/* Burger menu */
#burger-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#burger {
  width: 25px;
  height: 2px;
  background-color: #BF9C6E;
  border-radius: 50px;
  border: none;
  transition: opacity 150ms ease-in-out;
}

#burger::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #BF9C6E;
  border-radius: 50px;
  transform: translateY(11px);
}

#burger::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #BF9C6E;
  border-radius: 50px;
  transform: translateY(-11px);
}

#song {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#fill-div {
  width: 80px;
}

#fill-div2 {
  width: 50px;
}

img,
#cover-placeholder {
  height: 97px;
  max-height: 97px;
}

#cover-placeholder {
  width: auto;
  aspect-ratio: 1 !important;
  animation: color infinite 1.5s linear;
}

#song-info {
  cursor: default;
}

#song-info>* {
  font-size: 1em;
}

#song-title {
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#artists {
  color: #d6d6d6;
  white-space: nowrap;
}

#title-placeholder {
  height: 1em;
  width: 100%;
  animation: color 1.5s linear infinite;
}

#artist-placeholder {
  height: 1em;
  width: 40%;
  animation: color 1.5s linear infinite;
}

#play,
#pause {
  width: 45px;
  height: 45px;
  cursor: pointer;
  display: flex;

}

#tools p {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  color: #707070;
  margin: 0;
  transition: color 200ms;
}

#tools path {
  fill: #707070;
  transition: fill 200ms ease-out
}

#tools .active-tool path {
  fill: #BF9C6E;
}

#tools .active-tool {
  color: #BF9C6E;
}

#tools div {
  transition: background-color 100ms;
  max-width: 100px;
}

#tools div:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.15);
  transition: background-color 10ms;
}

.modal-content {
  background-color: #202020;
}

.modal-title {
  color: white;
  font-family: 'Barlow Condensed';
}

input {
  width: 100%;
}

button {
  font-family: "Barlow Condensed";
  background: none;
  border-radius: 0;
  color: white;
  position: relative;
  z-index: 1;
}

#confirm-btn {
  background: none;
  border-color: #BF9C6E;
  color: #BF9C6E;
}

button::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  background-color: #BF9C6E;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 150ms ease-out;
  z-index: -1;
}

button:hover:before {
  transform: scaleY(1);
}

button:hover {
  color: #202020 !important;
}

@media (max-width:991px) {
  #song-info {
    width: 30vw;
  }

  #song-info>* {
    font-size: 0.9em;
  }

  img,
  #cover-placeholder {
    max-height: 7vw;
    height: 7vw;
  }

  #burger {
    width: calc(15px + 1vw) !important;
  }

  #burger::before {
    transform: translateY(10px);
  }

  #burger::after {
    transform: translateY(-10px);
  }
}

@media (max-width:575px) {
  #song-info>* {
    font-size: 0.8em;
  }

  #fill-div2 {
    width: 30px;
  }
}

@media (max-height:449px) {
  #container {
    padding-top: .5em !important;
  }

  img,
  #cover-placeholder {
    max-height: 50px !important;
    height: 50px !important;
  }

  #burger::before {
    transform: translateY(8px);
  }

  #burger::after {
    transform: translateY(-8px);
  }

  #container>div {
    flex-grow: 0 !important;
  }

  #tools * {
    font-size: .9em;
  }

  #tools svg {
    width: 22px;
    height: 22px;
  }

  #play,
  #pause {
    width: 35px;
    height: 35px;
  }
}

@media (max-height:369px) {

  img,
  #cover-placeholder {
    max-height: 10vh !important;
    height: 10vh !important;
  }

  #song-info>* {
    font-size: .7em;
  }

  #play,
  #pause {
    width: 30px;
    height: 30px;
  }
}
